<!DOCTYPE html>
<head>
<title>Weather About Us</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
<body>
	
<div class="main-content-about">
{{>header}}
<h3 id="about">What We Do: <br>
We offer the best services and user interface!
<br> Our Goal: <br> 
To provide the best weather info. <br>
Our Staff: </h3>
<img class="saket" src="/img/Kasibhatla.jpg"> 
<p>Surya - Developer</p>

</div>


{{>footer}}
	
</body>
</html>