<!DOCTYPE html>
<head>
<title>Surya's Weather App</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
<body>

<div class="main-content">
{{>header}}
<p id="text">Get the weather forecast using our website!</p>	
<form>
	<input placeholder="Please type location">
	<button>Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
</div>
	
{{>footer}}
	
<script src="/js/weatherForecast.js"></script>	

</body>
</html>